<div id="home-page">
  <%= image_tag "notebook.svg", :class => "notebook-picture" %>
  <h1>Digitize your lab manuals.</h1>
  <p>
    Use Labrats to easily search, share, and edit your lab data.
  </p>
  <%= link_to "Get Started", signup_path, :class => "btn btn-lg btn-primary" %>
  <p>
    Already a user? <%= link_to "Sign in.", signin_path %>
  </p>
</div>
