<div class="notebook" id="<%= @notebook.id %>">
  <h1><%= @notebook.name %></h1>
  <ul class="page-select">
  </ul>
  <h3 id="page-title"></h3>
  <div class="pages">
    <!-- Pages will attach here for rendering. -->
  </div>
  <button href="#" class="new-page btn btn-default">New Page</button>
  <button href="#" class="delete-page btn btn-default">Delete this page</button>
  <a href="/notebooks/<%= @notebook.id %>" data-method="delete" rel="nofollow" class="btn btn-default">Delete this notebook</a>
  <div class="access">
    <input type="text" class="user-email" />
    <button href="#" class="grant-access btn btn-default">Grant notebook access to this user.</button>
    <button href="#" class="revoke-access btn btn-default">Revoke notebook access from this user.</button>
  </div>
</div>

<script type="text/javascript">
    $(function() {
      var notebook_model = new Labrats.Models.Notebook(<%= @notebook.to_json(user: current_user).html_safe %>, {parse: true});
      var notebook_view = new Labrats.Views.OwnerNotebook({
        model: notebook_model,
        el: $('.notebook')
      });
    });
</script>
