<div class="notebook" id="<%= @notebook.id %>">
  <h1><%= @notebook.name %></h1>
  <ul class="page-select">
    
  </ul>
  <div class="pages">
    <!-- Pages will attach here for rendering. -->
  </div>
  <a href="#" class="new-page">New Page</a>
  <a href="#" class="delete-page">Delete this page</a>
  <%= link_to "Delete this notebook", @notebook, method: :delete %>
  <div class="access">
    <input type="text" class="user-email" />
    <a href="#" class="grant-access">Grant notebook access to this user.</a>
    <a href="#" class="revoke-access">Revoke notebook access from this user.</a>
  </div>
</div>

<script type="text/javascript">
    $(function() {
      var notebook_model = new Labrats.Models.Notebook(<%= @notebook.to_json(user: current_user).html_safe %>, {parse: true});
      var notebook_view = new Labrats.Views.OwnerNotebook({
        model: notebook_model,
        el: $('.notebook')
      });
    });
</script>
