<div class="notebook" id="<%= @notebook.id %>">
  <h1><%= @notebook.name %></h1>
  <ul class="page-select"></ul>
  <h3 id="page-title"></h3>
  <div class="pages">
    <!-- Pages will attach here for rendering. -->
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var notebook_model = new Labrats.Models.Notebook(<%= @notebook.to_json(user: current_user).html_safe %>, {parse: true});
    var notebook_view = new Labrats.Views.SharedNotebook({
      model: notebook_model,
      el: $('.notebook')
    });
  });
</script>
