<div class="notebook">
  <h1><%= @notebook.name %></h1>
  <% @notebook.pages.each do |page| %>
    <%= render partial: "page", locals: {page: page} %>
  <% end %>
  <%= link_to "Delete this notebook", @notebook, method: :delete %>
</div>
