<div class="row" id="signup-form">
  <h1>Create an account!</h1>
  <%= form_for(@user, :validate => true) do |form| %>
    <%= render 'fields', form: form %>
    <%= form.submit "Create my account", :class => "btn btn-lg btn-primary" %>
  <% end %>
</div>
<script type="text/javascript">
  (function() {
    var signup = new Labrats.Views.Signup({
      el: $("#signup-form")
    });
  })();
</script>
