<% if object.errors.any? %>
    <div class="alert alert-error">
        A couple o' problems, in fact <%= pluralize(object.errors.count, "error") %> problems.
    </div>
  <ul>
    <% object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
