<% if object.errors.any? %>
    <div class="alert alert-danger">
        A couple o' errors, in fact <%= pluralize(object.errors.count, "error") %>.
    </div>
  <ul>
    <% object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
