<div class="tab-group">
    <% group.each do |box| %>
        <%= render 'shared/error_messages', object: box.object%>
        <%= render partial: "text_box", locals: {box: box} %>
    <% end %>
</div>
