$text: #010101;
$background: #FFFCF5;

/* greys */
$lightGrey: #EFEFE8;
$medGrey: #D7D5C6;
$lightGreyHover: #E2E2DC;
$black: #000;

/* primary colors */
$darkBlue: #113C60;
$green: #A0CC3F;

/* secondaries */
$greenYellow: #D5DA84;
$lightBlue: #D5EFFC;
