$text: #010101;
$background: #FFF8E3;

/* greys */
$lightGrey: #EFEFE8;
$medGrey: #D7D5C6;
$lightGreyHover: #E2E2DC;

/* primaries */
$primary: #F26627;
$yelOne: #FFD74A;
$yelTwo: #FEE77A;
$yelThree: #F4E4A8;

/* secondaries */
$greenYellow: #D5DA84;
$lightBlue: #D5EFFC;