@import "bootstrap";
@import "colors";

/* mixins */
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes slidein {
    from {
        bottom: -44px;
    }
    to {
        bottom: 0px;
    }
}

@-webkit-keyframes slidein {
    from {
        bottom: -44px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes slideout {
    to {
        bottom: -50px;
    }
    from {
        bottom: 0px;
    }
}

@-webkit-keyframes slideout {
    to {
        bottom: -50px;
    }
    from {
        bottom: 0px;
    }
}

@mixin slide($direction) {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-name: slide#{$direction};
    -webkit-animation-name: slide#{$direction};
}

/* universal */
html {
    overflow-y: scroll;
}

body {
    background-color: $background;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    
    h1 {
        margin-bottom: 10px;
    }
}

.navbar-brand {
    color: $primary !important;
    text-transform: uppercase;
    font-weight: bold;
}

canvas {
    border-style: solid;
    border-width: 1px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2x;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #d3d3d3;
}



/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

/* home page */
#home-page {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  p {
    font-size: 10pt;
  }
  h1 {
    text-align: center;
    margin-top: -50px;
  }
  .notebook-picture {
    @media(max-width: 600px) {
      width: 85%;
      height: 85%;
    }
  }
  .btn {
     margin: 20px;
  }
}

/* user forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: #f00;    
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

.notification {
    box-shadow: 0 -1px 3px rgba($black, 0.2), inset 0 3px 1px $yelOne;
    position: fixed;
    height: 44px;
    width: 100px;
    right: 20px;

    background-color: $lightGrey;

    &.is-showing {
        @include slide(in);
        bottom: 0;
    }

    &.is-hiding {
        @include slide(out);
        bottom: -44px;
    }

    p {
        text-align: center;
        margin-top: 10px;
    }
}

/* user pages */
.user-page {
  .gravatar {
    float: left;
    margin-right: 20px;
  }
  h1 {
    margin-bottom: 20px;
  }
}

/* notebook forms */

#new-notebook-form {
  width: 50%;
  margin: 0 auto;
}