@import "bootstrap";
@import "colors";

/* fonts?? */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Arvo:700italic);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:700);


/* mixins */
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes slidein {
    from {
        bottom: -44px;
    }
    to {
        bottom: 0px;
    }
}

@-webkit-keyframes slidein {
    from {
        bottom: -44px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes slideout {
    to {
        bottom: -50px;
    }
    from {
        bottom: 0px;
    }
}

@-webkit-keyframes slideout {
    to {
        bottom: -50px;
    }
    from {
        bottom: 0px;
    }
}

@mixin slide($direction) {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-name: slide#{$direction};
    -webkit-animation-name: slide#{$direction};
}

/* universal */
html {
    overflow-y: scroll;
}

body {
    background-color: $background;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    
    h1 {
        margin-bottom: 10px;
    }
}

.img-wrap {
    margin: 0 auto;
    text-align: center;
    p {
      font-style: italic;
      font-weight: bold;
      font-size: 2em;
      font-family: 'Pacifico';
      margin-bottom: 20px;
    }
}

canvas {
    border-style: solid;
    border-width: 1px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h2 {
  color: #333333;
  font-size: 1.5em;
}

/* header */

.navbar-inverse {
    background-color: $darkBlue;
    border: none;
    .navbar-nav > li > a {
        color: #8fbfe7;
	font-family: 'Maven Pro', sans-serif;
	text-transform: uppercase;
	margin-top: -1px;
    }
}

.navbar-brand {
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-style: oblique;
    text-transform: lowercase;
    font-size: 2em;
    color: $green !important;
    margin-top: -2.5px;
    &:hover {
        color: #fff !important;
    }
}

#logo {
    float: left;
    margin-right: 10px;
    width: 75px;
    height: 75px;
    padding: 5px 0px 5px 0px;
}

.navbar-links {
    padding-top: 15px;
}

/* home page */
#home-page {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  p {
    font-size: 10pt;
    &:last-child {
      color: #666666;
    }
  }
  h1 {
    text-align: center;
    margin-top: -50px;
  }
  .notebook-picture {
    @media(max-width: 600px) {
      width: 85%;
      height: 85%;
    }
  }
  .btn {
     margin: 20px;
  }
}

/* user forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: #f00;    
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

span.error {
  float: right;
  color: #b94a48 !important;
  // TODO: Select associated textfield and give it red highlight??
}

.notification {
    box-shadow: 0 -1px 3px rgba($black, 0.2), inset 0 5px 1px #EFEF9C;
    position: fixed;
    height: 44px;
    width: 100px;
    right: 20px;

    color: $medGrey;
    background-color: #020202;

    &.is-showing {
        @include slide(in);
        bottom: 0;
    }

    &.is-hiding {
        @include slide(out);
        bottom: -44px;
    }

    p {
        text-align: center;
        margin-top: 10px;
    }
}

#signup-form, #signin-form {
  width: 50%;
  margin: 0 auto;

  .error {
      display: block;
      margin-top: 6px;

      color: #DD453A;
  }
}

/* user pages */
.user-page {
  .gravatar {
    float: left;
    margin-right: 20px;
  }
  h1 {
    margin-bottom: 20px;
  }
  #user-feed {
    border: 1px solid $lightGrey;
    padding: 10px;
    color: #333333;
    width: 50%;
    span.details {
      color: #a9a9a9;
    }
  }
}

/* notebook forms */

.new-notebook-form {
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  border: solid 1px $lightGrey;
}

.new-notebook-btn {
  margin-bottom: 10px;
  float: right;
}

/* about page */

.about-img {
  margin-top: 10px;
  &:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}

.oren-description, .peter-description, .kyle-description, .meg-description {
   display: none;
   max-width: 600px;
   margin: 0 auto;
   padding-top: 10px;
   text-align: justify;
   b {
     color: $red;
   }
}