@import "colors";

/* size variables */
$boxHeight: 220px;

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.boxes {
    margin:0px;
    padding:0px;
    & li {
        list-style:none;
        display:inline-block;
        background-color: $lightGrey;
        & a {
            color: $text;
            text-decoration: none;
            font-size:9px;
            font-family:Verdana, Arial, Helvetica, sans-serif;
            font-weight:bold;
            text-transform:uppercase;
        }
        padding:8px 14px 8px 14px;
        border:1px solid $medGrey;
        &:hover {
            background-color: $lightGreyHover;
            border-color: $medGrey;
        }
        & span {
            font-size: 9px;
            margin-left: 15px;
            &:hover {
                background-color: #f00;
            }
        }
        &.active {
            background-color:#ffffff;
            color:#282e32;
            border:1px solid #464c54;
            border-bottom: 1px solid #ffffff;
        }
    }
}

div.hidden {
    display:none;
}

.box {
    margin: 10px;
    padding: 0px;
    height: $boxHeight;
    position: relative;
    & textarea {
        height: $boxHeight - 50px;
        width: 90%;
    }
    & canvas {
        border-style: solid;
        border-width: 1px;
        width: 90%;
        height: $boxHeight - 50px;
    }
    & ul {
        position: absolute;
        bottom: 0px;
    }
}

div.page {
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid;
}

div.tab-group {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid;
}

.page-select li {
    display: inline-block;
}
