/* variables */
$text: #010101;
$lightGrey: #EFEFE8;
$medGrey: #D7D5C6;
$lightGreyHover: #E2E2DC;
$primary: #F26627;
$yelOne: #FFD74A;
$yelTwo: #FEE77A;
$yelThree: #F4E4A8;
$greenYellow: #D5DA84;
$lightBlue: #D5EFFC;

ul.boxes {
    margin:0px;
    padding:0px;
    & li {
        list-style:none;
        display:inline;
        & a {
            background-color: $lightGrey;
            color: $text;
            padding:8px 14px 8px 14px;
            text-decoration:none;
            font-size:9px;
            font-family:Verdana, Arial, Helvetica, sans-serif;
            font-weight:bold;
            text-transform:uppercase;
            border:1px solid $medGrey;
            &:hover {
                background-color: $lightGreyHover;
                border-color: $medGrey;
            }
            &.active {
                background-color:#ffffff;
                color:#282e32;
                border:1px solid #464c54;
                border-bottom: 1px solid #ffffff;
            }
        }
    }
}

div.hidden {
    display:none;
}
